exclude *.ipynb
include *.ini

# sequence pair
#include models/lgb/20240617_121519/lgb.txt
include models/aes2/deberta_v3_base/20240623_143628/*.json
include models/aes2/deberta_v3_base/20240623_143628/*.safetensors
include models/aes2/deberta_v3_base/20240623_143628/*.model

# v1 comp data
#include models/lgb/20240617_121519/lgb.txt
#include models/aes2/deberta_v3_base/20240615_063400/*.json
#include models/aes2/deberta_v3_base/20240615_063400/*.safetensors
#include models/aes2/deberta_v3_base/20240615_063400/*.model
